<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [com.grocerypage.script.SmokeTest]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc63ce">  <td>19/11/12 06:15:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.launch()[pri:0, instance:com.grocerypage.script.SmokeTest@482f8f11]">&gt;&gt;launch</td> 
<td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="7996a0">  <td>19/11/12 06:15:17</td>   <td>13273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmokeTest.verifyPages()[pri:0, instance:com.grocerypage.script.SmokeTest@482f8f11]">verifyPages</td> 
  <td>main@1007603019</td>   <td></td> </tr>
</table>
