<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab965">  <td>19/11/13 15:31:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.launch()[pri:0, instance:com.grocerypage.script.SmokeTest@30b8a058]">&gt;&gt;launch</td> 
<td>&nbsp;</td>  <td>main@951880373</td>   <td></td> </tr>
<tr bgcolor="b3f17c">  <td>19/11/13 15:31:59</td>   <td>20709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmokeTest.verifyPages()[pri:0, instance:com.grocerypage.script.SmokeTest@30b8a058]">verifyPages</td> 
  <td>main@951880373</td>   <td></td> </tr>
</table>
